/* BASICS */
@font-face {
  font-family: 'ToYRegular-Web';
  src: url('../fonts/ToYRegular-Web.woff2') format('woff2'),
    url('../fonts/ToYRegular-Web.woff') format('woff');
}

.title {
  font-family: 'ToYRegular-Web', 'Times New Roman', serif;
  color: #9489dd;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
  font-size: 50px;
}

.text {
  font-family: 'Helvetica Neue LT W05_55 Roman';
  letter-spacing: '0.02em';
  line-height: 1.85;
  font-size: 14px;
}

.text p {
  margin: 14px 0;
}
