.credits {
  text-decoration: underline solid transparent;
  padding: 15px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT W05_75 Bold';
  letter-spacing: 0.06em;
  line-height: 1;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  &:hover {
    text-decoration: underline solid black;
  }
}
